.App {
  display: flex;
  justify-content: space-around;
}

.heading h1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #2c2c2c;
  text-align: center;
  margin: 0;
  padding: 0;
}

.heading p {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.heading img {
  margin-left: 3rem;
  margin-top: 1.5rem;
}
